
h2.dr1
{
  color:DimGrey ;
    margin-left: 35px;;
}
h1.dr2
{
  color: lightSeaGreen;
  font-size: 400%;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 2px;
  font-weight:lighter;
}

ol{
    margin-left: 35px;
}

a:link {
  color: lightSeaGreen;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:lightSeaGreen ;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
}

a:active {
  color:black;
  background-color: transparent;
}
table
{
  width:60%;
  cellpadding:1;
}
body {
  border-style: solid;
  border-width: 8px;
  border-color: lightSeaGreen;
  margin-left: 20px;
    margin-right:150px;
    margin-bottom: 200px;
}

hr.d6{
  margin-left: 35px;
  margin-right:35px;
    border-top: 1px solid  GhostWhite;
}
hr.d7{
  margin-left: 35px;
  margin-right:35px;
  border-top: 1px solid lightGrey;
}
p{
    margin-left: 35px;
}
